<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Gabble with sequelize </title>
    <link rel="stylesheet" href="./../public/css/index.css">
  </head>

  <body>
    <main>
      <form method="post">
        <button type="submit" formaction='/login'> Log in </button>
        <button type="submit" formaction='/signup'> Sign up </button>
      </form>
    </main>

    <script src="./../public/js/index.js"></script>
  </body>
</html>
